.diagram_container{
   width: 100%;
}

.column_and_name_container {
  margin: auto;
  width: 50%;
  background-color: #AB82FF;
}

.column_and_name_container h4 {
  margin: 0;
  display: inline-block;
  margin-left: 30%;
}

.column_and_name_container h4 {
  padding-top: 10px;
}

.column_and_name_container svg {
  margin-left: 30%;
  padding-top: 5px;
}

.column_and_name_container svg:last-child {
  padding-bottom: 10px;
}

@media screen and (min-width: 770px) {
  .column_and_name_container h4 {
    margin-left: 40%;
  }
  .column_and_name_container svg {
    margin-left: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .column_and_name_container h4 {
    margin-left: 42%;
  }
  .column_and_name_container svg {
    margin-left: 42%;
  }
}
