.diagram_container{
   margin-top: 10vw;
   transform: rotate(90deg);
}
.column_and_name_container p{
  margin: 0;
  padding:0;
  display: inline-block;
  font-size: 1vw;
}
.column_and_name_container svg{
  display: inline-block;
  transform: rotate(180deg);
}
