.diagram_container{
   width: 100%;
}


.diagram_svg {
  padding: 10px 0px 10px 0px;
}

.column_and_name_container {
  margin: auto;
  width: 35vw;
}

.column_and_name_container p{
  margin: 0;
  padding:0;
  display: inline-block;
}
.column_and_name_container svg:last-child {
  padding-bottom: 20px;
}

@media screen and (min-width: 770px) {
  .column_and_name_container {
    width: 18vw;
  }
}

@media screen and (min-width: 1200px) {
  .column_and_name_container {
    width: 10vw;
  }
}
