/* IMPORT PARTIALS */
@import "partials/preloader";
@import "partials/formular";
/* IMPORT PARTIALS SLUT */

body {
    font-family: "Lato", sans-serif;
}

/* SPLASH */
.splash {
  background-color: blue;
  width: 100%;
  height: 40vw;
}

.splash h1 {
  margin-top: 15vw;
  font-size: 10vw;
}
/* SPLASH SLUT */

/* DOKUMENTATION */
.content {
  margin-top: 40px;
}
/* DOKUMENTATION SLUT */

/* BURGER MENU */

.sidenav {
    height: 28%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: 0 0px 10px 0;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 6vw;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: rgba(255, 0, 0, 1);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.burger {
  position: absolute;
  margin-left: 14px;
}

/* BURGER MENU SLUT */

/* MENU */
.menu {
  display: none;
  background-color: red;
  width: 100%;
  padding: 10px;
}

.menu a {
  padding-left: 35px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.menu a:hover {
  color: white;
}

/* MENU SLUT */

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media  screen and (min-width: 500px) {
  .menu {
    display: block;
  }
  .burgermenu {
    display: none;
  }
}
