<div class="kompetencer">
  <div class="row center-xs">
      <div class="col-xs-12">
          <div class="box">
              <h2>Diagram over mine IT kompetencer</h2>
          </div>
      </div>
  </div>
</div>
<div class="diagram_container">
  {{ range .Site.Data.skills }}
  <div class ="column_and_name_container">
    <div class="diagram_p">
      <h4>{{ .navn }}</h4>
    </div>
    <div class="diagram_svg">
      <svg width="150" height="15">
          <rect width="{{ mul .skill 20 }}"  height="15" fill="#E167FF" stroke-width="1" stroke= "#BA55D3" />
        </svg>
    </div>
    </div>
  {{ end }}
</div>
